{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "semi": true,
  "tabWidth": 2,
  "printWidth": 105,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true
}